body{
    background-color: #f3f3f3;
}
.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.main{
    border-style:solid;
    margin:10px auto;
    width:400px;
    padding:30px;
    border-color:gainsboro;
    margin-top:80px;
    background-color: white;
}
#logo{
    text-align:center;
    font-size:65px;
    color:#1ec800;
    margin-bottom: 30px;
}
/*
.item{
    border-style:solid;
    text-align:left;  
    padding:5px 160px 5px 15px;   
    border-color:gainsboro; 
    font-size:18px;
    outline-color:#1ec800;
    display:block;
    margin-top: 8px;
    background-color: #f3f3f3;
}

.signup{
    text-align:center;
    border-style:solid;
    font-size:25px;
    color:white;
    background-color: #1ec800;
    border-color:#1ec800;
    border-radius:10px;
    margin-top: 70px;
    margin-bottom: 0px;;
    padding: 5px 170px 5px 170px;
    cursor:pointer;
}*/
.side{
    margin-top:10px;
}
#q{
    display:inline;  
    margin-left: 95px;
    text-align:center;
}
#gotologin{
    margin:0;
}