
.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.title{ 
    text-align:center;
    margin-top: 100px;
    margin-bottom:30px;
    font-size:60px;
    color:#1ec800;
    background: none;
    padding:0;
    margin-left: auto;
    margin-right:auto;
    border:none;
    cursor:pointer;
}
.main{
    border-style:solid;
    margin:10px auto;
    width:400px;
    padding:30px;
    border-color:gainsboro;
    border-radius:10px;
}
.item{
    border-style:solid;
    text-align:left;  
    padding:5px 160px 5px 15px;   
    border-color:gainsboro; 
    margin:-2px;
    font-size:18px;
    outline-color:#1ec800;
    display:block;
    
}
.login{
    text-align:center;
    border-style:solid;
    font-size:25px;
    color:white;
    background-color: #1ec800;
    border-color:#1ec800;
    border-radius:10px;
    margin-top: 70px;
    margin-bottom: 0px;;
    padding: 5px 160px 5px 160px;
    cursor:pointer;
}
input::placeholder{color:gainsboro;}
.search{text-align: center;
color:gray;}
.find{
    color:gray;
    font-size:14px;
    border:none;
    background-color: white;
    cursor: pointer;
}

#err{
    margin-top: 10px;
    color:red;
}