.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
body{margin:0;}
img{
    margin:auto;
    display: block;
    width: 300px;
    margin-top:40px;
    margin-bottom:30px;
}
.menu{
    border-width: 0px 0px 6px 0px;
    border-style: solid;
    text-align: center;
    height:190px;
}
.item{
    margin: 0px 8px 0px 8px;
    border:none;
    background-color: white;
    font-size: 14px;
    cursor:pointer;
    display:inline; 
    text-align:center;
}
.item:hover{/*메뉴 클릭시 하단바 생성*/
    border-width: 0px 0px 3px 0px;
    border-style: solid; 
}


.second ul.third/*팝업창 위치*/
 {
   margin-top:0px;
 }
 .second ul.third{/*팝업창 디자인*/
   display: none;
   background-color: greenyellow; 
   position: absolute;
   width:100%;
   height:55%;
   list-style: none;
   border-width: 0px 0px 6px 0px;
   border-style: solid; 
 }
 .second:hover ul.third{
     display: block;
 }
 .second ul.third li/*아마 본문 텍스트 배치?*/
 {
   text-align: left;
   margin: 0px 80px 0px 170px;
   padding-top: 30px;
 
 }




 .second ul.third li a/*잘 모르겠음*/
 {
     display: block;
 }
 .second:hover/*커서 놓았을때 원래 박스 변경*/
 {
     background: pink;
 }
 .second{
   white-space:nowrap;
   text-align: center;
   list-style: none;
   float:left;
   display: contents;
 }

